# tensorflow==1.7.1
tensorflow
# Pillow>=4.2.1
Pillow
matplotlib
# numpy>=1.11.0
numpy
jupyter
# pytest>=3.2.2
pytest
docopt
pyyaml
# protobuf==3.5.2
protobuf
# grpcio==1.11.0
grpcio
# torch==0.4.0
torch
pandas
scipy
ipykernel
